VITE_DEFAULT_BOT_NAME=ftb
VITE_DEFAULT_API_URL=https://api.xxx.cd
VITE_DEFAULT_USERNAME=xxx
VITE_DEFAULT_PASSWORD=xxx
VITE_AUTO_LOGIN=true

VITE_WALLET=0x8f43

VITE_REOWN_PROJECT_ID=xxx

VITE_BUILDER_ADDRESS=0x4be1

VITE_AGENTS_BACKEND=https://agents-backend-api.xxx.cd
VITE_AGENTS_BACKEND_API_KEY=xxx